body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
.STYLE1 {font-size: 12px}

.STYLE3 {font-size: 12px; font-weight: bold; }
.STYLE4 {
	color: #03515d;
	font-size: 12px;
}

.css5 {color: #03515d;font-size: 12px;}


input.btn01 {
	font-size: 12px;
	color: #000000;
	background-image: url(../images/btn1.gif);
	background-repeat: repeat-x;
	background-position: center;
	height: 20px;
	border: 1px solid #202C55;
	CURSOR: hand;
	padding-right: 4px;
	padding-left: 4px;
	text-align: center;
	vertical-align: middle;
}
input.btn02 {
	font-size: 12px;
	color: #581D28;
	background-image: url(../images/btn2.gif);
	background-repeat: repeat-x;
	background-position: center;
	height: 20px;
	border: 1px solid #581D28;
	CURSOR: hand;
	padding-right: 4px;
	padding-left: 4px;
	text-align: center;
	vertical-align: middle;
}

a:link,a:visited{
	color:black;
	text-decoration:none;  /*超链接无下划线*/
}
a:hover{
	color:black;
	text-decoration:underline;  /*鼠标放上去有下划线*/
}

.STYLE_Left {font-size: 12px;background-color:#FFFFFF;height:30px;text-align:right;}
.STYLE_Right {font-size: 12px;background-color:#FFFFFF;color:#FF0F0F;height:30px;text-align:left;}
.STYLE_purview {font-size: 12px;background-color:#FFFFFF;height:30px;text-align:left;}
.STYLE_View {font-size: 12px;background-color:#FFFFFF;height:30px;text-align:left;}

.STYLE_submit {font-size: 12px;background-color:#FFFFFF;height:30px;}