body {
	font-size: 62.5%;
	font-family: "Trebuchet MS", "Arial", "Helvetica", "Verdana", "sans-serif";
}

table {
	font-size: 1em;
}

.demo-description {
	clear: both;
	padding: 12px;
	font-size: 1.3em;
	line-height: 1.4em;
}

.ui-draggable, .ui-droppable {
	background-position: top;
}
#feedback { font-size: 1.4em; }
#selectable .ui-selecting { background: #67b1f3; }
#selectable .ui-selected { 
width:180px;
background: #67b1f3; 
color: white; 
}


#selectable { 
	list-style-type: none; 
	float:left;
	width: 240px; 
	height: 400px; 
	margin: 0px 0px 0px 10px;
	overflow:auto;
	padding: 10px; 
	border:1px solid #67b1f3;
	background-image: url(../../images/selectTable/selListBg.jpg);
	background-repeat: repeat-x;
	background-position:0% 100%;
	background-color:white;
	
}
#selectable li{
	font-size: 10px;
	width:180px;
	height:36px;
	padding-left:20px;
	background-image: url(../../images/selectTable/list3_itemBg.jpg);
	background-repeat:no-repeat;
	line-height:36px;
}
#listBtn_m{
	float:left;
	padding:130px 10px 0px 10px;
}
#selectableB { 
	list-style-type: none;
	float:left;
	margin: 0;
	overflow:auto;
	padding: 10px; 
	border:1px solid #67b1f3;
	background: url(../../images/selectTable/selListBg.jpg);
	background-repeat: repeat-x;
	background-position:0% 100%;
	background-color:white;
	width: 300px; 
	height: 400px; 
}
#selectableB .ui-selecting { background: #67b1f3; }
#selectableB .ui-selected { 
width:260px;
background: #67b1f3; 
color: white; 
}
#selectableB li{
	font-size: 8px;
	width:260px;
	height:36px;
	padding-left:20px;
	padding-right:0px;
	background-image: url(../../images/selectTable/list3_itemBg2.jpg);
	background-repeat:no-repeat;
	line-height:36px;
}
#listBtn_r{
	float:left;
	padding:100px 0px 0px 20px;
}